/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    color: aliceblue;
    background-color: #101010;
    font-family: 'Poppins', Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: aliceblue;
  margin-bottom: 8px;
}

/* Add your custom styles below */
.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.svg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50px;
  background-color: #212121;
}
.greeting {
  text-align: right;
  line-height: normal;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 16px 0;
}

.banner {
  width: 100%;
}
.headline {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 12px 0 24px 0;
}

.bece {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
}
.star {
  height: 16px;
  width: 16px;
  line-height: 0;
}
.rating {
  display: flex;
  gap: 4px;
  align-items: center;
  font-weight: lighter;
}

.reviews {
  display: flex;
  gap: 16px;
  overflow-x: auto;
}
/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.reviews::-webkit-scrollbar {
  display: none;
}

.subjects {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 300px;
  overflow-y: auto;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.subjects::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers */
.subjects, .reviews {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 0.5px solid azure;
  padding: 15px;
  background-color: #212121;
}

.prepx--ads {
  text-align: center;
  margin: 24px 0;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #6523cfce;
  background-color: #111011;
  position: relative;
}
.prepx--ads > h2 {
  display: flex;
  align-self: normal;
  margin-top: 12px;
}
.ads--by {
  font-weight: 500;
  color: #212121;
  background-color: #fafafa;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  top: 0;
  right: 0;
  padding: 2px;
  position: absolute;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: black;
  font-weight: 600;
  background-color: aliceblue;
  text-decoration: none;
  margin-top: 24px;
  border-radius: 24px;
  height: 52px;
  padding: 0 24px;  
}

.whatsapp-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  font-weight: 600;
  background-color: #00C54F;
  text-decoration: none;
  margin-top: 24px;
  border-radius: 24px;
  height: 52px;
  padding: 0 24px;
}

.telegram-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  font-weight: 600;
  background-color: #239CCF;
  text-decoration: none;
  margin-top: 24px;
  border-radius: 24px;
  height: 52px;
  padding: 0 24px;
}

.cancel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  font-weight: 600;
  background-color: #CF2323;
  text-decoration: none;
  margin-top: 24px;
  border-radius: 24px;
  height: 52px;
  padding: 0 24px;
}

.advertise-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  background-color: #6523cfce;
  text-decoration: none;
  margin-top: 24px;
  border-radius: 24px;
  height: 52px;
  padding: 0 24px;
}