/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  color: aliceblue;
  background-color: #101010;
  font-family: 'Poppins', Arial, sans-serif;

  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: aliceblue;
  margin-bottom: 8px;
}

/* Add your custom styles below */
.login--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make sure the container takes up the full viewport height */
  margin: 0 auto;
}


.login--screen {
  text-align: center;
  margin: 40px;
}
.login--title {
  font-size: 24px;
  font-weight: 500;
}
.header--bar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.svg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50px;
  background-color: #212121;
}
#close {
  margin: 2.4em 1.6em;
  cursor: pointer;
}

button {
  margin: 0;
  border: none;
  cursor: pointer;
}

nav {
  font-weight: 400;
  background: rgba(16, 16, 16, 0.50);
  backdrop-filter: blur(10px);
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  list-style-type: none;
}

nav a {
  display: flex;
  align-items: center;
  color: #D9D9D9;
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
}

.side--menu {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 90%;
  z-index: 999;
}

.side--menu li, a {
  width: 100%;
  padding: 0.5em 0;
}

.cta--telegram{
  margin: 0 1.6em;
  max-width: 300px;
}

footer, .footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
}

.greeting {
  text-align: right;
  line-height: normal;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 16px 0;
}

.reviews {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  overflow-x: auto;
}

.banner--card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  color: #D9D9D9;
  border: 1.5px solid #FBB12C;
  background-color: #1D232A;
}
.banner--row{
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.banner--row > img {
  flex-shrink: 0;
}
.banner--col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.banner--col > p {
  color: #fafafa;
  font-size: 20px;
  font-weight: 600;
}
.banner--col small{
  font-size: 16px;
}

.banner {
  width: 100%;
}

.star {
  height: 16px;
  width: 16px;
  line-height: 0;
}
.rating {
  display: flex;
  align-items: center;
  font-weight: lighter;
  gap: 4px;
  margin-top: 12px;
}

.headline {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 12px 0 24px 0;
}

.bece {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
}
/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.reviews::-webkit-scrollbar {
  display: none;
}

.subjects {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 300px;
  overflow-y: auto;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.subjects::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers */
.subjects, .reviews {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 0.5px solid azure;
  padding: 15px;
  color: azure;
  background-color: #212121;
  text-decoration: none;
}

.prepx--ads {
  text-align: center;
  margin: 24px 0;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #6523cf;
  background-color: #111011;
  position: relative;
}
.prepx--ads > h2 {
  display: flex;
  align-self: normal;
  margin-top: 12px;
}
.ads--by {
  font-weight: 500;
  color: #fafafa;
  background-color: #6523ce;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  top: 0;
  right: 0;
  padding: 2px 8px;
  position: absolute;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: black;
  font-weight: 600;
  background-color: aliceblue;
  text-decoration: none;
  margin-top: 24px;
  border-radius: 24px;
  height: 52px;
  padding: 0 24px;  
}

.whatsapp-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  font-weight: 600;
  background-color: #00C54F;
  text-decoration: none;
  margin-top: 24px;
  border-radius: 24px;
  height: 52px;
  padding: 0 24px;
}

.telegram-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  font-weight: 600;
  background-color: #239CCF;
  text-decoration: none;
  margin-top: 24px;
  border-radius: 24px;
  height: 52px;
  padding: 0 24px;
}

.cancel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  font-weight: 600;
  background-color: #CF2323;
  text-decoration: none;
  margin-top: 24px;
  border-radius: 24px;
  height: 52px;
  padding: 0 24px;
}

.advertise-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  background-color: #6523cfce;
  text-decoration: none;
  margin-top: 24px;
  border-radius: 24px;
  height: 52px;
  padding: 0 24px;
}

@media screen and (display-mode: standalone) {
  .header--bar {
    height: 88px !important;
  }
}
